<section class="hero is-medium is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest tasks
      </h1>
      <div class="columns is-multiline">
        <%= render 'latest' %>
      </div>
    </div>
  </div>
</section>

<div class="container" style="margin: 5% 5%;">
  <div class="tabs">
    <ul>
      <li><%= link_to 'Most recent', dashboard_path(filter: :recent) %></li>
      <li><%= link_to 'By level', dashboard_path(filter: :level) %></li>
      <li><%= link_to 'Completed', dashboard_path(filter: :completed) %></li>
    </ul>
  </div>
  <div class="columns is-multiline">
    <% if params[:filter] == 'completed' %>
      <%= render 'complete' %>
      <% elsif params[:filter] == 'level' %>
        <%= render 'level' %>
      <% elsif params[:filter] == 'recent' %>
        <%= render 'recent' %>
      <% else %>
        <%= render 'recent' %>
    <% end %>
  </div>
</div>