<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest tasks
      </h1>
      <div class="columns is-multiline">
        <%= render 'latest_tasks' %>
      </div>
    </div>
  </div>
</section>

<div class="container" style="margin: 5% 5%;">
  <div class="tabs">
    <ul>
      <li><%= link_to 'Most recent', dashboard_path(filter: :recent) %></li>
      <li><%= link_to 'By level', dashboard_path(filter: :level) %></li>
      <li><%= link_to 'Completed', dashboard_path(filter: :completed) %></li>
    </ul>
  </div>
  <div class="columns is-multiline">
    <% if params[:filter] == 'completed' %>
      <% @tasks.complete.each_with_index do |task, i| %>
        <div class="column is-8" style="margin-top: 2.5%;">
          <div class="content">
            <p class="task title"><%= link_to "#{i+=1}. #{task.name}", task_path(task) %></p>
          </div>
          <span class="tag is-info">Level <%= task.level %></span>
          <% if task.complete? %>
            <span class="tag is-success">Complete</span>
            <% else %>
            <span class="tag is-warning">In Progress</span>
          <% end %>
        </div>
      <% end %>
      <% elsif params[:filter] == 'level' %>
        <% @tasks.by_level.each_with_index do |task, i| %>
          <div class="column is-8" style="margin-top: 2.5%;">
            <div class="content">
              <p class="task title"><%= link_to "#{i+=1}. #{task.name}", task_path(task) %></p>
            </div>
            <span class="tag is-info">Level <%= task.level %></span>
            <% if task.complete? %>
              <span class="tag is-success">Complete</span>
              <% else %>
              <span class="tag is-warning">In Progress</span>
            <% end %>
          </div>
        <% end %>
      <% elsif params[:filter] == 'recent' %>
        <% @tasks.most_recent.drop(3).each_with_index do |task, i| %>
          <div class="column is-8" style="margin-top: 2.5%;">
            <div class="content">
              <p class="task title"><%= link_to "#{i+=1}. #{task.name}", task_path(task) %></p>
            </div>
            <span class="tag is-info">Level <%= task.level %></span>
            <% if task.complete? %>
              <span class="tag is-success">Complete</span>
              <% else %>
              <span class="tag is-warning">In Progress</span>
            <% end %>
          </div>
        <% end %>
      <% else %>
      <% @tasks.most_recent.drop(3).each_with_index do |task, i| %>
        <div class="column is-8" style="margin-top: 2.5%;">
          <div class="content">
            <p class="task title"><%= link_to "#{i+=1}. #{task.name}", task_path(task) %></p>
          </div>
          <span class="tag is-info">Level <%= task.level %></span>
          <% if task.complete? %>
            <span class="tag is-success">Complete</span>
            <% else %>
            <span class="tag is-warning">In Progress</span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>