<nav class="nav" style="padding: 2%;">
  <% flash.each do |k, v| %>
    <%= content_tag(:div, v, class: "flash-#{k} notification is-info") %>
  <% end %>
  <div class="nav-left">
    <nav class="level">
      <!-- Left side -->
      <div class="level-item has-text-centered">
        <p class="heading">Total</p>
        <p class="title"><%= Task.all.count %></p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">Completed</p>
        <p class="title"><%= Task.complete.count %></p>
      </div>
      <div class="level-item has-text-centered">
        <p class="heading">In progress</p>
        <p class="title"><%= Task.in_progress.count %></p>
      </div>
    </nav>
  </div>

  <div class="nav-center">
    <div class="nav-item level-item">
      <%= form_tag dashboard_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: 'input', placeholder: 'Find a task' %>
        <%= submit_tag 'Search', name: nil, class: 'button is-primary' %>
      <% end %>
    </div>
  </div>

  <div class="nav-right nav-menu">
    <div class="nav-item level-right">
      <% if current_user %>
        <p class="level-item"><%= link_to 'All', dashboard_path, class: 'button is-primary' %></p>
        <p class="level-item"><%= link_to 'New task', new_task_path, class: 'button is-primary' %></p>
        <p class="level-item"><%= link_to 'Logout', logout_path, class: 'button is-primary' %></p>
        <% else %>
          <p class="level-item"><%= link_to 'All', dashboard_path, class: 'button is-primary' %></p>
          <p class="level-item"><%= link_to 'Login', login_path, class: 'button is-primary' %></p>
          <p class="level-item"><%= link_to 'Sign up', signup_path, class: 'button is-primary' %></p>
      <% end %>
    </div>
  </div>
</nav>